.container{
  display: grid;  
  width: 50%;
  margin: 20%;
}
.input{
  width: 30%;
  margin-left: 17% !important;
}

.button{
  margin: 1% !important;
  width: 20%
}

.displayedTime{
  margin-left: 26% !important;
}